{% extends 'base.html.twig' %}

{% block body %}
    <h1>Court</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ court.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if court.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('courts_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('courts_edit', { 'id': court.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
